<body>
    <div class="container-login">
        <div class="card-login">

            
            <div class="left">
                <img src="car_icon.png" alt="Ícone carro" class="logo-icon">
                <h5 class="title">Primeira vez aqui?</h5>
                <p class="desc">Cadastre-se para começar a registrar placas de veículos, organizar entradas e manter
                    tudo sob controle.</p>
                <a href="#" class="btn btn-outline-dark btn-register">Cadastre-se</a>
            </div>

            <div class="right">
                <form>
                    <h4 class="login-title">Acessar Conta</h4>

                    <div class="mb-3">
                        <label for="email">Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                            <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="senha">Senha</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="senha" placeholder="Senha">
                            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-login">Login</button>
                </form>
            </div>

        </div>
    </div>
</body>